<settings>
  <profiles>
    <profile>
      <id>juddi-hibernate</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
        <persistence>hibernate</persistence>
      </properties>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>hibernate</activeProfile>
    <activeProfile>juddi-hibernate</activeProfile>
  </activeProfiles>
</settings>
