<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="org.apache.juddi.v3.client.log.level" value="INFO" />
    <!-- options are CONSOLE, EVENTLOG, FILE-->
    <add key="org.apache.juddi.v3.client.log.target" value="CONSOLE" />

    <add key="org.apache.juddi.v3.client.log.logger.file" value="pathToOutputFile" />
  </appSettings>
</configuration>