<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="org.apache.juddi.v3.client.log.level" value="INFO" />
    <!-- options are CONSOLE, EVENTLOG, FILE-->
    <add key="org.apache.juddi.v3.client.log.target" value="CONSOLE" />

    <add key="org.apache.juddi.v3.client.log.logger.file" value="pathToOutputFile" />
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="UDDISubscriptionListenerServiceSoapBinding"  ></binding>
      </basicHttpBinding>
    </bindings>
   
    <services>
      <service
        name="org.apache.juddi.v3.client.subscription.SubscriptionCallbackListener">
        <endpoint
           binding="basicHttpBinding"
           bindingConfiguration="UDDISubscriptionListenerServiceSoapBinding"
           bindingName="UDDISubscriptionListenerServiceSoapBinding"
           bindingNamespace="org.apache.juddi.v3.client.subscription" 
           contract="org.apache.juddi.v3.client.subscription.wcf.UDDI_SubscriptionListener_PortType" >
        </endpoint>
      
      </service>
    </services>
  </system.serviceModel>
</configuration>