<?xml version="1.0"?>
<catalogue xml:lang="en">
  <message key="About">About</message>
  <message key="Index">Index</message>
  <message key="Changes">Changes</message>
  <message key="Todo">Todo</message>
  <message key="Samples">Samples</message>
  <message key="Apache document">Apache document</message>
  <message key="Static content">Static content</message>
  <message key="Wiki page">Wiki page</message>
  <message key="ihtml page">Ihtml page</message>
  <message key="ehtml page">Ehtml page</message>
  <message key="FAQ">FAQ</message>
  <message key="Simplifed Docbook">Simplifed Docbook</message>
  <message key="XSP page">XSP page</message>
</catalogue>
