<?xml version="1.0"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
    <add key="org.apache.juddi.v3.client.log.level" value="DEBUG" />
    <!-- options are CONSOLE, EVENTLOG, FILE-->
    <add key="org.apache.juddi.v3.client.log.target" value="CONSOLE" />
  </appSettings>
</configuration>
