<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Hello_Binding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.examples.com/SayHello/" binding="basicHttpBinding"
                bindingConfiguration="Hello_Binding" contract="Hello_PortType"
                name="Hello_Port" />
        </client>
    </system.serviceModel>
</configuration>