<?xml version="1.0" encoding="UTF-8"?>

<Context>
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <!--  -->
    <Resource name="jdbc/JuddiDS" auth="Container"
            type="javax.sql.DataSource" username="" password=""
            driverClassName="org.apache.derby.jdbc.EmbeddedDriver" 
            url="jdbc:derby:target/juddi-derby-test-db;create=true"
            maxActive="8" 
            />
    
    <!-- mysql 
    <Resource name="jdbc/JuddiDS" auth="Container"
            type="javax.sql.DataSource" username="root" password=""
            driverClassName="com.mysql.jdbc.Driver" 
            url="jdbc:mysql://localhost:3306/juddiv3"
            maxActive="8" 
            />
    -->
    <!-- postgresql 
    <Resource name="jdbc/JuddiDS" auth="Container"
            type="javax.sql.DataSource" username="juddi" password="juddi"
            driverClassName="org.postgresql.Driver" 
            url="jdbc:postgresql://localhost:5432/juddi"
            maxActive="8" 
            />
     -->  
</Context>

