<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/juddi-console"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="org.eclipse.debug.core.source_locator_id" value="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"/>
<stringAttribute key="org.eclipse.debug.core.source_locator_memento" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;sourceLookupDirector&gt;&#10;&lt;sourceContainers duplicates=&quot;false&quot;&gt;&#10;&lt;container memento=&quot;&amp;lt;?xml version=&amp;quot;1.0&amp;quot; encoding=&amp;quot;UTF-8&amp;quot;?&amp;gt;&amp;#10;&amp;lt;javaProject name=&amp;quot;juddi-console&amp;quot;/&amp;gt;&amp;#10;&quot; typeId=&quot;org.eclipse.jdt.launching.sourceContainer.javaProject&quot;/&gt;&#10;&lt;container memento=&quot;&amp;lt;?xml version=&amp;quot;1.0&amp;quot; encoding=&amp;quot;UTF-8&amp;quot;?&amp;gt;&amp;#10;&amp;lt;default/&amp;gt;&amp;#10;&quot; typeId=&quot;org.eclipse.debug.core.containerType.default&quot;/&gt;&#10;&lt;/sourceContainers&gt;&#10;&lt;/sourceLookupDirector&gt;&#10;"/>
<listAttribute key="org.eclipse.jdt.launching.CLASSPATH">
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry containerPath=&quot;org.eclipse.jdt.launching.JRE_CONTAINER&quot; javaProject=&quot;UDDIConsole&quot; path=&quot;1&quot; type=&quot;4&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry path=&quot;3&quot; projectName=&quot;juddi-console&quot; type=&quot;1&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/juddi-console/uddi-portlets/src/main/java&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/apps/gwt-mac-1.5.3/gwt-user.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/apps/gwt-mac-1.5.3/gwt-dev-mac.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/activation-1.1.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/activation-1.1.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/antlr-2.7.6.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/asm-1.5.3.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/asm-attrs-1.5.3.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/avalon-framework-4.1.3.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/axis-1.4.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/axis-jaxrpc-1.4.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/cglib-nodep-2.1_3.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/commons-beanutils-1.7.0.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/commons-beanutils-core-1.7.0.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/commons-codec-1.3.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/commons-collections-3.2.1.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/commons-configuration-1.5.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/commons-digester-1.8.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/commons-lang-2.3.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/commons-logging-1.1.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/dom4j-1.6.1.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/ehcache-1.2.3.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/gwt-servlet-1.5.3.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/hibernate-3.2.5.ga.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/hibernate-annotations-3.3.0.ga.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/hibernate-commons-annotations-3.0.0.ga.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/hibernate-entitymanager-3.3.1.ga.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/hibernate-validator-3.0.0.ga.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/javassist-3.3.ga.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/jaxb-api-2.1.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/jaxb-impl-2.1.7.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/jaxws-api-2.1.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/jaxws-rt-2.1.4.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/jboss-common-core-2.0.4.GA.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/jsr181-api-1.0-MR1.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/jsr250-api-1.0.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/jta-1.0.1B.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/juddi-core-3.0.0.SNAPSHOT.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/log4j-1.2.13.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/logkit-1.0.1.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/mimepull-1.2.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/persistence-api-1.0.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/resolver-20050927.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/saaj-api-1.3.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/saaj-impl-1.3.1.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/servlet-api-2.3.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/sjsxp-1.0.1.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/stax-api-1.0-2.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/stax-ex-1.2.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/streambuffer-0.7.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/uddi-client-3.0.0.SNAPSHOT.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/uddi-portlets/WEB-INF/lib/uddi-ws-3.0.0.SNAPSHOT.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/antlr-2.7.6.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/aopalliance-1.0.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/asm-2.2.3.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/asm-attrs-1.5.3.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/cglib-nodep-2.1_3.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/commons-beanutils-1.7.0.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/commons-beanutils-core-1.7.0.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/commons-codec-1.3.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/commons-collections-3.2.1.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/commons-configuration-1.5.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/commons-digester-1.8.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/commons-lang-2.3.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/commons-logging-1.0.4.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/cxf-api-2.1.3.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/cxf-common-schemas-2.1.3.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/cxf-common-utilities-2.1.3.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/cxf-rt-bindings-soap-2.1.3.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/cxf-rt-bindings-xml-2.1.3.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/cxf-rt-core-2.1.3.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/cxf-rt-databinding-jaxb-2.1.3.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/cxf-rt-frontend-jaxws-2.1.3.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/cxf-rt-frontend-simple-2.1.3.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/cxf-rt-transports-http-2.1.3.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/cxf-rt-ws-addr-2.1.3.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/cxf-tools-common-2.1.3.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/dom4j-1.6.1.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/ehcache-1.2.3.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/FastInfoset-1.2.2.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/geronimo-activation_1.1_spec-1.0.2.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/geronimo-annotation_1.0_spec-1.1.1.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/geronimo-javamail_1.4_spec-1.3.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/geronimo-jaxws_2.1_spec-1.0.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/geronimo-stax-api_1.0_spec-1.0.1.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/geronimo-ws-metadata_2.0_spec-1.1.2.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/hibernate-3.2.5.ga.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/hibernate-annotations-3.3.0.ga.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/hibernate-commons-annotations-3.0.0.ga.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/hibernate-entitymanager-3.3.1.ga.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/hibernate-validator-3.0.0.ga.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/javassist-3.3.ga.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/jaxb-api-2.1.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/jaxb-impl-2.1.9.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/jaxb-xjc-2.1.7.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/jaxws-api-2.1.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/jaxws-rt-2.1.4.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/jboss-common-core-2.0.4.GA.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/jsr181-api-1.0-MR1.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/jsr250-api-1.0.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/jta-1.0.1B.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/juddi-core-3.0.0.SNAPSHOT.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/junit-3.8.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/log4j-1.2.13.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/neethi-2.0.4.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/oro-2.0.8.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/persistence-api-1.0.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/resolver-20050927.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/saaj-api-1.3.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/saaj-impl-1.3.2.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/sjsxp-1.0.1.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/spring-beans-2.0.8.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/spring-context-2.0.8.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/spring-core-2.0.8.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/spring-web-2.0.8.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/stax-api-1.0-2.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/stax-ex-1.2.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/streambuffer-0.7.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/uddi-ws-3.0.0.SNAPSHOT.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/velocity-1.5.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/wsdl4j-1.6.2.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/wstx-asl-3.2.6.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/xml-resolver-1.2.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/kstam/osc/apache/dev/juddi-console/juddi-portal/target/juddi-portal-bundle-3.0.0.SNAPSHOT/webapps/juddi/WEB-INF/lib/XmlSchema-1.4.2.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/juddi-console/uddi-portlets/src/main/resources&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.maven.ide.eclipse.launchconfig.classpathProvider"/>
<booleanAttribute key="org.eclipse.jdt.launching.DEFAULT_CLASSPATH" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.google.gwt.dev.GWTShell"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-out target/www org.apache.juddi.portlets.UDDIBrowser/UDDIBrowser.html"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="juddi-console"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.maven.ide.eclipse.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-XstartOnFirstThread -Xmx256M"/>
</launchConfiguration>
